{% if nrinfragent_logging is defined -%}
logs:
  {%- for log in nrinfragent_logging %}
  - name: {{ log.name -}}
  {% if log.source_type == 'file' %}
    file: {{ log.source_value -}}
  {% elif log.source_type == 'systemd' %}
    systemd: {{ log.source_value -}}
  {% elif log.source_type == 'syslog' and log.syslog is defined %}
    syslog:
      uri: {{ log.syslog.uri }}
      {% if log.syslog.parser is defined -%}
      parser: {{ log.syslog.parser }}
      {% endif -%}
      {% if log.syslog.unix_permissions is defined -%}
      unix_permissions: {{ log.syslog.unix_permissions -}}
      {% endif -%}
  {% elif log.source_type == 'tcp' and log.tcp is defined %}
    tcp:
      uri: {{ log.tcp.uri }}
      {% if log.tcp.format is defined -%}
      format: {{ log.tcp.format }}
      {% endif -%}
      {% if log.tcp.format == 'none' and log.tcp.separator is defined -%}
      separator: {{ log.tcp.separator -}}
      {% endif -%}
  {% elif log.source_type == 'winlog' and log.winlog is defined %}
    winlog:
      channel: {{ log.winlog.channel }}
      {% if log.winlog.collect_eventids is defined -%}
      collect-eventids: {{ log.winlog.collect_eventids }}
      {% endif -%}
      {% if log.winlog.exclude_eventids is defined -%}
      exclude-eventids: {{ log.winlog.exclude_eventids -}}
      {% endif -%}
  {% endif -%}
  {% if log.max_line_kb is defined %}
    max_line_kb: {{ log.max_line_kb -}}
  {% endif -%}
  {% if log.pattern is defined %}
    pattern: {{ log.pattern -}}
  {% endif -%}
  {% if log.custom_attributes is defined %}
    attributes:
  {%- for dict_item in log.custom_attributes %}
  {%- for key, value in dict_item.items() %}
      {{ key }}: {{ value }}
  {%- endfor -%}
  {%- endfor -%}
  {% endif -%}
  {% if log.fluentbit is defined %}
    fluentbit:
      config_file: {{ log.fluentbit.config_file }}
      parsers_file: {{ log.fluentbit.parsers_file -}}
  {% endif %}
  {% endfor -%}
{% endif -%}